@model AirHelp.Models.VMClaim

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            font-family: Helvetica, sans-serif;
            font-size: 14px;
        }

        .main {
            width: 100%;
            padding: 30px 0;
        }

        .hedar {
            font-size: 17px;
            text-align: center;
            font-weight: 700;
        }

        .container {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        .left, .rigth {
            width: 48%;
        }

        .left {
            float: left;
            padding: 0 15px 0 0;
            border-right: solid 1px rgba(55, 55, 55, 0.5);
        }

        .rigth {
            padding: 0 0 0 16px;
            float: right;
        }

        .signiture {
            width: 100%;
            float: left;
        }

        .content {
            text-align: justify;
            line-height: 19px;
        }

        .signiture {
            margin: 40px 0 0 0;
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .span-2 {
            margin: 0 230px 0 auto;
        }

        .div-1 {
            padding: 0 10px;
            display: flex;
            align-items: stretch;
        }

        .div-3 {
            padding: 0 10px;
        }

        .span-3 {
            float: right;
            margin: 5px 75px 0 0;
        }

        p {
        }
    </style>
</head>
@{
    var account = System.Configuration.ConfigurationManager.AppSettings["appId"].ToString().ToLower() == "true";
}
<body>
    <div class="main">
        <div class="container">
            <div class="left">
                <p class="hedar"> ПЪЛНОМОЩНО <p>
                <p class="content">
                    Долуподписаният/ата: @Model.FirstName @Model.LastName, с адрес: @Model.Country, @Model.City, @Model.Adress.
                </p>
                <p class="hedar"> УПЪЛНОМОЩАВАМ <p>
                <p class="content">
                    @ViewBag.company, със седалище и адрес на управление: @ViewBag.address, ЕИК: @ViewBag.UIC с управител @ViewBag.manager
                    <!-- <b>за следното: </b>  addition -->
                </p>
                <p class="content">
                    Да ме представлява пред съответната Авиокомпания @Model.AirCompany или друг въздушен превозвач издал билета
                    или направил резервацията с номер @Model.BookCode <!-- *** --> за полет излитащ <!--  *--> по разписание на дата @Model.Date от @Model.DepartureAirport
                    и пристигащ по разписание в @Model.DestinationAirports, трети лица и/или организации във връзка с получаване на дължимо обезщетение съгласно Регламент ЕО 261/2004.
                </p>
                <p class="content">
                    Да се свързва с компетентната Гражданска Въздухоплавателна Администрация и да предприема всякакви
                    действия с цел получаване на дължимото обезщетение съгласно Регламент ЕО 261/2004.
                </p>
                <p class="content">
                    Да извършва от мое име всички действия –предявява, изготвя и подписва претенции и други необходими документи.
                </p>
                <p class="content">
                    Да заявява и декларира всякакви данни и обстоятелства.
                </p>
                <p class="content">
                    Да ме представлява пред всички съдебни инстанции и всички частни съдебни изпълнители,
                    и завежда искова молба и заявление за издаване на заповед за изпълнение
                </p>
                <p class="content">
                    Да извършва съдопроизводствени действия,да сключва спогодби,
                    да извършва действия с предмета на делото.
                </p>
                @if (account)
                {
                    <p class="content">
                        Да получи в пълен размер и от мое име паричното обезщетение съгласно Регламент ЕО 261 2004,
                        дължимо и платимо в резултат на гореизброените действия по сметка на @ViewBag.company @ViewBag.bankAccount.
                    </p>
                }
                else
                {
                    <p class="content">
                        Да получи в пълен размер и от мое име паричното обезщетение съгласно Регламент ЕО 261 2004,
                        дължимо и платимо в резултат на гореизброените действия.
                    </p>
                }
                <p class="content">
                    Във връзка с описаните по – горе действия от мое име да получава и подписва всякакви документи,
                    да декларира всякакви обстоятелства и да извършва всички правни и фактически действия, където е необходимо.
                    Долуподписаният/ата декларирам, че съм запознат/та, приемам и са ми предадени Общите условия, съгласен съм/съгласна съм предоставените от мен мои лични данни да се съхраняват,
                    използват и бъдат обработвани във връзка с горепосочените действия.
                </p>
                <p class="content">
                    Настоящото пълномощно следва да се тълкува изцяло в полза на правото на пълномощника да ме представлява.
                </p>
                <p class="content">
                    Упълномощеният има право да преупълномощава трети лица с правата по настоящото пълномощно.
                </p>
                <p class="content">
                    Пълномощното се прекратява с извършване на конкретните действия, за които е издадено.
                </p>

            </div>
            <div class="rigth">
                <p class="hedar">POWER OF ATTORNEY</p>
                <p class="content">
                    Тhe undersigned @Model.Country, @Model.FirstName @Model.LastName, residing
                    at @Model.City, @Model.Adress.
                </p>
                <p class="hedar"> AUTHORIZE </p>
                <p class="content">
                    &nbsp;&nbsp;&nbsp; @ViewBag.companyEn, registered in the Trade Register under
                    UIN @ViewBag.UIC, seat and registered address: Republic of
                    Bulgaria, @ViewBag.addressEn, represented by @ViewBag.managerEn.
                </p>
                <p class="content">
                    To represent me in front of the corresponding airline carrier @Model.AirCompany or another airline carrier that issued the ticket or
                    made the booking number @Model.BookCode for a flight scheduled to: take off on @Model.Date from @Model.DepartureAirport airport,
                    land at @Model.DestinationAirports airport, third parties or/and organizations with respect to
                    payment of compensation according to Regulation EC 261/2004.
                </p>
                <p class="content">
                    To contact the competent Civil Aviation Administration and take any action in order to
                    obtain the compensation according to Regulation EC 261/2004.
                </p>
                <p class="content">
                    To carry out on my behalf all actions to make, prepare and sign claims and
                    other necessary documents.
                </p>
                <p class="content">
                    To state and declare any data and circumstances.
                </p>
                <p class="content">
                    To represent me in front of all courts and all private enforcement
                    agents and file an application for execution order and statement of claim.
                </p>
                <p class="content">
                    To take legal actions, to enter into agreements, to act with the subject matter of the case.
                </p>
                <p class="content">
                    To receive on my behalf the entire cash benefit under Regulation EC
                    261/2004, due and payable as a result of the above actions to the @ViewBag.companyEn @ViewBag.bankAccount account.
                </p>
                <p class="content">
                    In connection with the actions described above on my behalf, to receive and
                    sign any documents, to declare any circumstances and to carry out all legal and factual actions where necessary.
                    I, the undersigned, declare that I am aware of and accept the Terms and Conditions,
                    I agree my personal data to be stored, used and processed in connection with the above actions.
                </p>
                <p class="content">
                    This power of attorney should be interpreted in favor of the attorney in fact to represent me.
                </p>
                <p class="content">
                    The attorney in fact has the right to reauthorize third parties with the rights
                    under this Power of Attorney.
                </p>
                <p class="content">
                    The power of attorney is terminated by the performance of the specific actions for which it was issued.
                </p>

            </div>
        </div>
        <div class="signiture">
            <div class="div-1">
                <div class="span-1">
                    <span><b>Дата/Date: @Model.DateCreated.ToString("dd.MM.yyyy") </b></span>
                </div>
                <div class="span-2">
                    <span><b>Упълномощител / Principal:</b>&nbsp;</span><div style="display: inline-block; position:absolute">
                        @if (!string.IsNullOrEmpty(@Model.SignitureImage))
                        {
                            <img src="@Model.SignitureImage" style="margin: -70px 0 0 10px; width: 200px; height:150px;" />
                        }
                    </div>
                </div>

            </div>
            @*<div class="div-3">

                    <div>
                        <span class="span-3">(подпис/signature)</span>
                    </div>
                </div>*@

        </div>

    </div>
</body>
</html>
