<div class="data-content">
    <div class="info-page">

        <h1>Често задавани въпроси</h1>

        <h2>Кога имам право на парично обезщетение при полет?</h2>
        <p>
            Като самолетен пътник, имате право на обезщетение в случай на голямо закъснение, отменен полет както и при отказан достъп до борда. Правото на обезщетение зависи от:
            <ul>
                <li>заъснението до крайната дестинация</li>
                <li>дистанцията на полета</li>
                <li>локацията на полета от/към или в рамките на евро съюза</li>
                <li>при отменен полет от времето на  предизвестие от авиокомпанията</li>
                <li>допълнителни фактори като наличието на форсмажорни обстоятелста</li>
            </ul>
            За проверка право на обезщетение може да използвате нашия <a href="/калкулиране-на-обезщетение">калкулатор на обезщетение</a>.
        </p>

        <h2>От какво зависи размера на обезщетението?</h2>
        <p>
            Размера на обезщетението основно зависи от дистанцията на полета както и от допълнителни фактори:
            <ul>
                <li>заъснението до крайната дестинация</li>
                <li>при отменен полет от времето на  предизвестие от авиокомпанията</li>
                <li>предложени от авиокомпанията алтернативни полети</li>
            </ul>
            За проверка размера на обезщетение може да използвате нашия <a href="/калкулиране-на-обезщетение">калкулатор на обезщетение</a>.
        </p>
        
        <h2>Каква сума трябва да заплатя, за да използвам услугите на @ViewBag.company ?</h2>
        <p>
            Използване услугите на @ViewBag.company не изисква начално плащене от Ваша страна. Само при успешно получено обезщетение ще удържим 25% комисиона от размера му.
        </p>

      
        <h2>Не съм гражданин на страна членка на ЕС. Имам ли право на обезщетение по регламент 261/2004 ?</h2>
        <p>
            Независимо, че нямате европейско гражданство имате право на обезщетение съгласно регламент 261/2004.
        </p>
       
        <h2> Имам ли право на обезщетене при полет преди повече от 1 година? </h2>
        <p>
            Имате право, давността е между 3 и 6 години в зависимост от държавата, от която е излетял полетът.  
        </p>
        <h2>Колко време отнема да получа обезщетението си? </h2>
        <p>
            Времето за обработка на претенцията зависи от различни фактори: поведението на авиокомпанията, конкретния полет, както и причината за закъснението или отмяната на полет могат да са съществен 
            фактор за времето на обработка на претенцията. Нуждата от изискване на допълнителни становища от ГВА (гражданска въздухоплавателна агенция). Допълнителен фактор за времето на получаване на 
            обезщетение е скороста на съдебния прицес ако има нужда от такъв. Авиокомпаниите са длъжни да дадът отговр на представена към тях претенция от 6 до 8 седмици и обикновено изчкват крайния срок. 
            Обикновено средното време за получаване на обезщетение е 3 месеца. @ViewBag.company ще Ви информира за всички промени по статуса на вашия иск. 
        </p>
        <h2> Как мога да следя статуса на моята претенция подадена чрез @ViewBag.company? </h2>
        <p> Може по всяко време да проверите статус ана вашата заявка на <a href="/обезщетение-списък"> потрбителския си профил </a>. Също така ние ще Ви информираме за всяка промяна в статуса на вашите претенции</p>
        
        
        <h2>Самолетния билет е закупен от моя работодател. Имам ли право на обезщетение ?</h2>
        <p>
            Имате право на обезщетение, независимо кой е платил билета Ви. Право на обезщетение имат пътниците на чието име е направена резервацията или е издадена бордовата карта. 
        </p>

        <h2>Авиокомпанията отказава да изплати обезщетение на което имам право. Какво следва ? </h2>
        <p>
            @ViewBag.company ще се заведе съдебен иск лъм съответната авиокомпания. 
        </p>

        <h2>@ViewBag.company е завело съдебен иск по  моя иск към авиокомпания. Каква сума трябва да заплатя на @ViewBag.company ?</h2>
        <p>
            Не дължите нищо. @ViewBag.company поема разноските по съдебния процес. 
            @ViewBag.company полуава единствено 25% от размера на обезщетението, както е указано в общите условия и договора с Вас.  
        </p>

    </div>
</div>




