<div class="data-content">
    <div class="info-page">
        <h1>ДЕКЛАРАЦИЯ ЗА ПОВЕРИТЕЛНОСТ</h1>

        <h2>Събиране, съхранение и използване на лични данни</h2>

        <p>
            @ViewBag.company използва предоставените от Вас лични данни, само във връзка с получаване на обезщетение съгласно регламен 261/2004 г на ЕС.
        </p>

        <p>
            @ViewBag.company НЕ използва предоставената от Вас информация за маркетингови проучвание, рекламни кампании, както и не я предоставя на трети лица нямащи отношение по предевяване на претенции
            и получаване на обезщетение съгласно регламен 261/2004 г ЕС.
        </p>

        <p>
            Взели сме необходимите организационни и технически мерки за сигурно и недостъпно за трети лица съхранение на предоставените от Вас данни.
        </p>

        <h2>Използване на предоставение от Вас емейл и телефонен номер</h2>
        <p>
            @ViewBag.company използва предоставение от Вас емейл и телефонен номер само за връзка с Вас само по отношение на предевения от вас иск за обезщетение
            съгласно регламент 261/2004 г. на ЕС и общноста. @ViewBag.company използва предоставения от Вас емейл за изпращане и получаване на документи.
        </p>

        <h2>Документи свързани с обработка на претенция към авиокомпании</h2>
        <p>
            @ViewBag.company генерира договор уреждаш правата и задълженията на страните, както и пълномощно с което
            Вие упълномощавате @ViewBag.company да обработи претенцията към съответната авиокомпание от ваше име.
            @ViewBag.company изпраща всеки документ на посочения от вас емайл. Всеки документ свързан с ваша претенция е достъпен по всяко време за Вас чрез нашия сайт: @ViewBag.siteName на вашия потребителски профил.
            Информацията на вашия потребителски профил НЕ е достъпна за трети лица.
        </p>

        <h2>Потребителски профили</h2>
        <p>
            @ViewBag.company създава и поддържа потребителски профили с цел предоставянето на пресоналана информация на своите клиенти.
            Достъпа до потрбителския Ви профил е чрез потребителски име и парола. Въведената от Вас парола е съхранена в хеширан вид и не е достъпна за никой.
        </p>

        <h2>Право на информация</h2>
        <p>
            При поискване ще Ви информираме какви ваши лични данни са събрани и с каква цел са били използвани.
            Моля, адресирайте вашите запитвание на емайл <a href="mailto:office@helpclaim.eu">office@helpclaim.eu</a>. Може да проверите какви ваши лични 
            данни се съхраняват и за какви цели се ползват на линк: <a href="/gdpr">лични данни</a> (данните са персонали и са досъпни чрез вашия потребителски профил)
        </p>


        <h2>Cookies</h2>
        <p>
            С цел минимизиране усилията на нашите потребители и улеснено използване на нашата веб услуга, ние използваме „бисквитки”.
            Бисквитките са файлове с данни предоставени от нас, които се съхраняват на Вашия компютър чрез Вашия браузър.
            Използването им улеснява навигациата в сайта и улеснява вписването в потребителския Ви профил (позволява повторно вписване без въвеждане на потребителско име и парола - възможно само
            чрез компютър или устройство, което преди това сте използвали за вписване в вашия потребителски профил).
            Информацията в генерираните от вашия браузър "бисквитки" за нашия сайт @ViewBag.siteName не съхраняват лични данни или данни, които биха могли да ви идентифицират.
            Ако не искате да получавате бисквитки, моля конфигурирайте своя веб браузър или мобилно устройство да изтрие всички бисквитки от хард диска или паметта, или да Ви предупреждава преди съхраняването на бисквитка.
        </p>

        <h2>Google Analytics</h2>
        <p>
            Google Analytics (съкратено GA) е безплатна уеб услуга, предоставена от Google за съставянето на детайлна статистика за посетителите на уебсайтове. Статистиката се събира на сървъра на Google. 
            @ViewBag.company използва Google Analytics с цал анализ посещаемоста на сайта @ViewBag.siteName и подобряване и пополяризиране на предоставянате веб услуги на свойте клиенти. 
            @ViewBag.company използва Google Analytics само общодостъпните станици в сайта (само веб страници със анонимент достъп). Google Analytics няма достъп да страници и информация изискващи вход с потребителски профил.
        </p>
           
        <h2>Съгласие за обработка на лични данни</h2>
        <p>
            Съгласно новите изисквания на GDPR (<a href="~/Content/Docs/GDPR.pdf" target="_blank"> Регламент 2016/679 на ЕС </a>). @ViewBag.company ще да използва предоставените от Вас лични данни само при вашето съгласие. 
            Ако не дадете съгласие за съхранение и използване на лични данни @ViewBag.company няма да съхрани предоставяните от вас данйи чрез нашия сайт helpclaim.eu.     
        </p>

        <h2>Срок на съхранение на данните</h2>
        <p>
            @ViewBag.company съхранява предоставените от Вас лични данните само до приключване на иска за обезщетения към съответната авиокмпания. 
            Вашите лични данни могат да бъдат съхранявани след този срок, само ако изрично потвърдите вашето съгласие за съхранение с цел подаване на бъдещи искове.
        </p>

        <h2>Обновявания и промени</h2>
        <p>
            Можем да променяме или обновяваме части от настоящия документ. Моля, проверявайте периодично, за да сте запознати с актуалните промени.
            Ще посочваме датата на последната промяна.
        </p>

        <p> <b> Последна промяна: </b> 14.05.2018 г </p>
    </div>
</div>



