@using AirHelp.Models
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    
    @if (!User.Identity.IsAuthenticated)
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117938824-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-117938824-1');
        </script>
    }

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <link href="~/Content/css/Site.css" rel="stylesheet" />
    <link href="~/Content/css/grid-layout.css" rel="stylesheet" />
    <link href="~/Content/css/input-style.css" rel="stylesheet" />
    <link href="~/Content/css/mobile.css" rel="stylesheet" />

    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Armata|Libre+Barcode+128+Text|Voces" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/datepicker-bg.js"></script>


</head>
<body>
    <div class="main-layout">

        <div class="logo">

            <div class="logo-flex-container">
                <div class="logo-image">
                    <a href="/" style="font-family: Round; font-weight: 700; font-size: 45px;">

                        <img src="~/Content/Assets/Logo/logo1.png" />
                    </a>
                </div>
                <div class="logo-menu">
                    <span class='menu'><a href="/обезщетение-списък">ИСКОВЕ</a></span>
                    <span class='menu'><a href="/проблеми-с-полета/често-задавани-въпроси">ВЪПРОСИ</a></span>
                    <span class='menu'><a href="/обезщетение-при-полет">ПОДАЙ ИСК</a></span>
                    <span class='menu'><a href="/за-нас">ЗА НАС</a></span>
                    <span class='menu'><a href="/контакти">КОНТАКТИ</a></span>

                    @if (User.Identity.IsAuthenticated)
                    {

                        

                        <span class="logged" style="display: block">
                            <span class="sub-menu hidden">
                                <span class="">
                                    <a href="/обезщетение-списък"> <span style="margin:  0 0 0 5px;"> Профил</span></a>
                                </span>
                                <span class="">
                                    <a href="/изход"> <span style="margin:  0 0 0 5px;">Изход </span></a>
                                </span>

                            </span>    
                            <span style="margin:  0 0 0 5px;" onclick="$('.sub-menu').toggleClass('hidden');" > @ViewBag.user.FirstName @ViewBag.user.LastName <span class="icon expand"></span>  </span> 
                        </span>
                        
                    }
                    else
                    {
                        <span class="enter"><a href="/вход">  <img src="~/Content/Assets/Icon/login.png" /> <span style="margin:  0 0 0 5px;"> ВХОД </span></a> </span>
                    }


                </div>
                <div class="menu-button" onclick="menu()">
                    <button>
                        <img src="~/Content/Assets/Icon/mobile.png" />
                    </button>
                </div>
            </div>


        </div>

        <div class="menu" style="display:none">
            <div class="logo-menu-mobile">
                <span class='(@ViewBag.menu=="claims": "selected" : ""'><a href="/обезщетение-списък">ИСКОВЕ</a></span>
                <span class='(@ViewBag.menu=="faq": "selected" : ""'><a href="/проблеми-с-полета/често-задавани-въпроси">ВЪПРОСИ</a></span>
                <span class='(@ViewBag.menu=="claim": "selected" : ""'><a href="/обезщетение-при-полет">ПОДАЙ ИСК</a></span>
                <span class='(@ViewBag.menu=="aboutus": "selected" : ""'><a href="/за-нас">ЗА НАС</a></span>
                <span class='(@ViewBag.menu=="contact": "selected" : ""'><a href="/контакти">КОНТАКТИ</a></span>

                @if (User.Identity.IsAuthenticated)
                {
                    <span class="logged"><a href="/изход"><span style="margin:  0 0 0 0;"> @ViewBag.user.FirstName @ViewBag.user.LastName</span></a> </span>
                }
                else
                {
                    <span class="enter"><a href="/вход"><span style="margin:  0 0 0 0;"> ВХОД </span></a> </span>
                }


            </div>

        </div>




        @RenderBody()
        <div class="bottom-spacer">
            <div class="spacer">

            </div>
            <div class="bottom">

                <span>@ViewBag.company</span> <span>|</span> <a href="/общи-условия"> ОБЩИ УСЛОВИЯ </a> <span>|</span>  <a href="/пpолитика-на-поверителност"> ДЕКЛАРАЦИЯ ЗА ПОВЕРИТЕЛНОСТ </a>

            </div>
        </div>

    </div>
    <script type="text/javascript">

        function getViewportWidth() {
            if (window.innerWidth) {
                return window.innerWidth;
            }
            else if (document.body && document.body.offsetWidth) {
                return document.body.offsetWidth;
            }
            else {
                return 0;
            }
        }

        $(document).ready(function () {
            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent)) {
                var actual_width = getViewportWidth();
                var bodyWidth = document.querySelector('body').clientWidth;
                var ratio = bodyWidth / actual_width;

                document.querySelector('meta[name="viewport"]').setAttribute('content', 'initial-scale=' + ratio + ', maximum-scale=' + ratio + ', minimum-scale=' + ratio + '');
            }

        });

        function menu() {

            $('.main-layout > div:not(:nth-child(1))').toggle(1000);

        }

    </script>
</body>
</html>
