@model List<AirHelp.DAL.Claim>

<div class="register-form">
    <div class="progress">
        @if (User.IsInRole("admin"))
        {

            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text">Искове</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/потребители"> Потребители </a>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/смяна-на-парола"> Смяна на парола </a>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/потребител-редакция"> Редакция на дании </a>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="http://mail.helpclaim.eu" target="_blank"> EMAIL </a>
            </div>
        }
        else
        {
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text">Искове</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/смяна-на-парола"> Смяна на парола </a>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/потребител-редакция"> Редакция на дании </a>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/GDPR"> Лични данни </a>
            </div>

        }
    </div>

    <div class="center-content">
        <div class="form-hedar uppercase">
            @ViewBag.user.FirstName  @ViewBag.user.LastName
        </div>
        <div class="list-container">
            <div class="claim-list-heder">
                <div style="grid-column-start: 1; grid-column-end: 2;">

                    <label>
                        Иск #
                    </label>

                </div>

                <div style="grid-column-start: 2; grid-column-end: 3;">
                    <label>
                        Полет #
                    </label>
                </div>
                <div  style="grid-column-start: 3; grid-column-end: 4;">
                    <label  class="mnone">
                        Дата на иска
                    </label>
                </div>
                <div style="grid-column-start: 4; grid-column-end: 5;">
                    <label>
                        Обещетение
                    </label>
                </div>
                <div  style="grid-column-start: 5; grid-column-end: 6;">
                    <label class="mnone">
                        Авиокомпания
                    </label>
                </div>
            </div>
            @foreach (var claim in Model)
            {
                var missingUser = claim.UserId == null;
                var url = missingUser ? "javascript:void(0)" : "/иск/" + claim.ClaimId.ToString();
                var style = missingUser ? "red" : "";
                <a href='@url'>
                    <div class="claim-list @style">
                        <div style="grid-column-start: 1; grid-column-end: 2;">

                            <label>
                                #@claim.referalNumber
                            </label>

                        </div>

                        <div style="grid-column-start: 2; grid-column-end: 3;">
                            <label>
                                @claim.AirPorts.Where(a => a.startIssue).Select(a => a.FlightNumber).SingleOrDefault()
                            </label>
                        </div>
                        <div  style="grid-column-start: 3; grid-column-end: 4;">
                            <label class="mnone" >
                                @claim.DateCreated.ToString("dd.MM.yyyy")
                            </label>
                        </div>
                        <div style="grid-column-start: 4; grid-column-end: 5;">
                            <label>
                                €@claim.CompensationAmount
                            </label>
                        </div>
                        <div  style="grid-column-start: 5; grid-column-end: 6;">
                            <label class="mnone" >
                                @claim.AirCompany ( @claim.AirCompanyCode )
                            </label>
                        </div>
                    </div>
                </a>
            }
        </div>

    </div>


</div>
