@model List<AirHelp.DAL.Claim>

<div class="register-form">
    <div class="progress">
        @if (User.IsInRole("admin"))
        {

            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text">Всички</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <label class="text">Необработени</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <label class="text">Приключени</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <label class="text">В прогрес</label>
            </div>

        }
        else
        {
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text">Всички</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <label class="text">В прогрес</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <label class="text">Приключени</label>
            </div>

        }
    </div>

    <div class="center-content">
        <div class="form-hedar uppercase">
            @ViewBag.user.FirstName  @ViewBag.user.LastName
        </div>
        <div class="list-container">

            @foreach (var claim in Model)
            {


                <div class="claim-list">
                    <div style="grid-column-start: 1; grid-column-end: 2;">
                        <a href="/ъпдейт-на-иск/@claim.ClaimId">
                            <label>
                                #@claim.referalNumber
                            </label>
                        </a>
                    </div>

                    <div style="grid-column-start: 2; grid-column-end: 3;">
                        <label>
                            @claim.AirPorts.Where(a => a.startIssue).Select(a => a.FlightNumber).SingleOrDefault()
                        </label>
                    </div>
                    <div style="grid-column-start: 3; grid-column-end: 4;">
                        <label>
                            @claim.DateCreated.ToString("dd.MM.yyyy")
                        </label>
                    </div>
                    <div style="grid-column-start: 4; grid-column-end: 5;">
                        <label>
                            €@claim.CompensationAmount
                        </label>
                    </div>
                    <div style="grid-column-start: 5; grid-column-end: 6;">
                        <label>
                            @claim.AirCompany  --
                        </label>
                    </div>

                    <div style="grid-column-start: 6; grid-column-end: 7;">
                        <a href="/заявки-ъпдейт/@claim.ClaimId">Изтриване</a>
                    </div>

                </div>

            }
        </div>

    </div>


</div>
