@model AirHelp.DAL.Claim
@using AirHelp.Models

<div class="register-form">
    <div class="progress">
        <div class="past">
            <div class="circle"><label>1</label></div>
            <label class="text">Данни за полета</label>
        </div>
        <div class="current">
            <div class="circle"><label>2</label></div>
            <label class="text">Описание на проблема</label>
        </div>
        <div class="empty">
            <div class="circle"><label>3</label></div>
            <label class="text">Регистрация</label>
        </div>
        <div class="empty">
            <div class="circle"><label>3</label></div>
            <label class="text">Подаване на иск</label>
        </div>

    </div>
    <div class="center-content">
        <form method="post" enctype="multipart/form-data" action="/описание-на-проблема">

            <input type="hidden" name="ClaimID" value="@Model.ClaimId" />

            <div class="form-hedar">
                Моля опишете проблема
            </div>
            <div class="form-row-radio" type-issue>

                <label class="radio">
                    <input type="radio" value="@((int)ProblemType.Delay)" name="Type">
                    <span>Полета ми закъсня</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)ProblemType.Cancel)" name="Type">
                    <span>Полета ми беше отменен</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)ProblemType.Overbooking)" name="Type">
                    <span>Не бях допуснат до борда</span>
                </label>

            </div>
            <!-- delay -->
            <div class="form-subheder" style="display: none" delay cancel reason>
                Каква беше причината?
            </div>
            <div class="form-row-radio" style="display: none" delay cancel reason>

                <label class="radio">
                    <input type="radio" value="@((int)Reason.TechnicalIssue)" name="Reason">
                    <span>Технически проблем</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)Reason.InfuenceOtherFlight)" name="Reason">
                    <span>Повлиян от други полети</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)Reason.Strike)" name="Reason">
                    <span>Стачка</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)Reason.BadWeather)" name="Reason">
                    <span>Лошо време</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)Reason.AirportFault)" name="Reason">
                    <span>По вина на летището</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)Reason.WithoutReason)" name="Reason">
                    <span>Не беше дадена причина</span>
                </label>
            </div>

            <!--делаy -->

            <div class="form-subheder" style="display: none" delay delay-delay>
                Какво беше закъснението до крайната дестинация
            </div>
            <div class="form-row-radio" style="display: none" delay delay-delay>
                @if (Model.FlightType == FlightType.F1500)
                {
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen0_2)" name="DelayDelay">
                        <span>По-малко от 2 часа</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen2_3)" name="DelayDelay">
                        <span>Между 2 и 3 часа</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen3_4)" name="DelayDelay">
                        <span>Повече от 3 часа</span>
                    </label>
                }
                @if (Model.FlightType == FlightType.FTo3500)
                {
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen2_3)" name="DelayDelay">
                        <span>По-малко от 3 часа</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen3_4)" name="DelayDelay">
                        <span>Повече от 3 часа</span>
                    </label>
                }
                @if (Model.FlightType == FlightType.FmoreThen3500)
                {
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen2_3)" name="DelayDelay">
                        <span>По-малко от 3 часа</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.Beetwen3_4)" name="DelayDelay">
                        <span>Между 3 и 4 часа</span>
                    </label>
                    <label class="radio">
                        <input type="radio" value="@((int)DelayDelay.MoreThan4)" name="DelayDelay">
                        <span>Повече от 4 часа</span>
                    </label>
                }
            </div>

            <!-- cancel-->
            <div class="form-subheder" style="display: none" cancel cancel-announsment>
                Кога бяхте уведомени от превозвача за отмяната на полета ?
            </div>
            <div class="form-row-radio" style="display: none" cancel cancel-announsment>
                <label class="radio">
                    <input type="radio" value="@((int)CancelAnnonsment.MoreThan14)" name="CancelAnnonsment">
                    <span>Повече от 14 дни преди полета</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)CancelAnnonsment.Beetwen7_14)" name="CancelAnnonsment">
                    <span>Между 7 и 14 дни преди полета</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)CancelAnnonsment.LessThat7)" name="CancelAnnonsment">
                    <span>По-малко от 7 дни преди полета</span>
                </label>
            </div>

            

            <!-- denay -->
            <div class="form-subheder" style="display: none" denay denay-arival>
                Пристигнахте ли на чек-ин-а поне 30 минути преди излитането на самолета?
            </div>
            <div class="form-row-radio" style="display: none" denay denay-arival>
                <label class="radio">
                    <input type="radio" value="@((int)DenayArival.Before30)" name="Arival">
                    <span>Да</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)DenayArival.After30)" name="Arival">
                    <span>Не</span>
                </label>
            </div>

            <div class="form-subheder" style="display: none" denay document-security>
                Достъпът беше ли ви отказан заради проблеми с документите или от съображения за сигурност?
            </div>
            <div class="form-row-radio" style="display: none"  denay document-security>
                <label class="radio">
                    <input type="radio" value="@((int)DocumentSecurity.MyFault)" name="DocumentSecurity">
                    <span>Да</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)DocumentSecurity.NotMyFault)" name="DocumentSecurity">
                    <span>Не</span>
                </label>
            </div>

            <div class="form-subheder" style="display: none" denay willness>
                Доброволно ли преотстъпихте мястото си на борда на самолета ?
            </div>
            <div class="form-row-radio" style="display: none" denay willness>
                <label class="radio">
                    <input type="radio" value="@((int)Willness.Voluntary)" name="Willness">
                    <span>Да</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)Willness.NotVoluntary)" name="Willness">
                    <span>Не</span>
                </label>
            </div>

            <div class="form-subheder" style="display: none" cancel cancel-delay>
                Колко голямо беше закъснението до крайната дистанция ?
            </div>
            <div class="form-row-radio" style="grid-template-columns: 1fr 1fr 1fr 1fr 2fr; display:none" cancel cancel-delay>

                <label class="radio">
                    <input type="radio" value="@((int)CancelOverbokingDelay.Beetwen0_2)" name="CancelOverbokingDelay">
                    <span>0-2 часа</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)CancelOverbokingDelay.Beetwen2_3)" name="CancelOverbokingDelay">
                    <span>2-3 часа</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)CancelOverbokingDelay.Beetwen3_4)" name="CancelOverbokingDelay">
                    <span>3-4 часа</span>
                </label>
                <label class="radio">
                    <input type="radio" value="@((int)CancelOverbokingDelay.MoreThan4)" name="CancelOverbokingDelay">
                    <span>над 4 часа</span>
                </label>
            </div>

            <div class="form-row" none" button>
                <div class="form-box">
                    <button class="submit" disabled type="submit" keypress="return false" onclick="return validateCommon()">Напред</button>
                </div>
                <div class="form-box">
                    <button class="reset" type="reset" keypress="return false" onclick="clearCheckClaim()">Изчисти</button>
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>


</div>

<script src="~/Scripts/main.js"></script>

<script src="~/Scripts/logic.js"></script>