@model List<AirHelp.DAL.User>

<div class="register-form">
    <div class="progress">
        @if (User.IsInRole("admin"))
        {

            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/обезщетение-списък"> Искове </a>
                
            </div>
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text"> Потребители </label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/смяна-на-парола"> Смяна на парола </a>
            </div>


        }
        else
        {
            <div class="current">
                <div class="circle"><label> </label></div>
                <label class="text">Искове</label>
            </div>
            <div class="empty">
                <div class="circle"><label> </label></div>
                <a class="text" href="/смяна-на-парола"> Смяна на парола </a>
            </div>

        }
    </div>

    <div class="center-content">
        <div class="form-hedar uppercase">
            @ViewBag.user.FirstName  @ViewBag.user.LastName
        </div>
        <div class="list-container">
            <div class="claim-list-heder">
                

                <div style="grid-column-start: 1; grid-column-end: 3;">
                    <label>
                        Име
                    </label>
                </div>
                <div style="grid-column-start: 3; grid-column-end: 4;">
                    <label>
                        Искове 
                    </label>
                </div>
                <div style="grid-column-start: 4; grid-column-end: 5;">
                    <label>
                        Телефон
                    </label>
                </div>
                <div style="grid-column-start: 5; grid-column-end: 6;">
                    <label>
                        Имейл
                       
                    </label>
                </div>
            </div>
            @foreach (var user in Model)
            {
                <a href="/потрбител/@user.UserId">

                    <div class="claim-list">
                        <div style="grid-column-start: 1; grid-column-end: 3;">

                            <label>
                                @user.FirstName @user.LastName
                            </label>

                        </div>

                        <div style="grid-column-start: 3; grid-column-end: 4;">
                            <label>
                                @user.Claims.Count() - €@user.Claims.Sum(c => c.CompensationAmount)
                            </label>
                           
                        </div>
                        <div style="grid-column-start: 4; grid-column-end: 5;">
                            <label>
                                @(string.IsNullOrEmpty(user.Tel) ? "--" : user.Tel)
                            </label>
                        </div>
                        <div style="grid-column-start: 5; grid-column-end: 6;">
                            <label>
                                @user.Email
                            </label>
                        </div>
                        
                    </div>
                </a>
            }
        </div>

    </div>


</div>
