@model AirHelp.Models.VMClaim

<div class="register-form">
    <div class="left-content">
    </div>
    <div class="center-content">
        <form>
            <div class="form-hedar view">
                @Model.Type.Replace('-', ' ')
            </div>
            <div class="form-row">
                <div class="form-box ">
                    <label class="heder left">Име</label>
                    <div>
                        <label class="data left">
                            @Model.FirstName
                        </label>
                    </div>
                </div>
                <div class="form-box">
                    <label class="heder rigth">Фамиля</label>
                    <div>
                        <label class="data rigth">
                            @Model.LastName
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box">
                    <label class="heder left">Град</label>
                    <div>
                        <label class="data left">
                            @Model.City
                        </label>
                    </div>
                </div>
                <div class="form-box">
                    <label class="heder rigth">Държава </label>
                    <div>
                        <label class="data rigth">
                            @Model.Country
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-box-width">
                    <label class="heder left">Адрес</label>
                    <div>
                        <label class="data left">
                            @Model.Adress
                        </label>
                    </div>
                </div>

            </div>
            <div class="form-row ">
                <div class="form-box">
                    <label class="heder left">Емаил</label>
                    <div>
                        <label class="data left">
                            @Model.Email
                        </label>
                    </div>
                </div>
                <div class="form-box ">
                    <label class="heder rigth"> Телефон</label>
                    <div>
                        <label class="data rigth">
                            @Model.Tel
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-box">
                    <label class="heder left">Номер на полета</label>
                    <div>
                        <label class="data left">
                            @Model.FlightNumber
                        </label>
                    </div>
                </div>
                <div class="form-box">
                    <label class="heder rigth">Дата на полета</label>
                    <div>
                        <label class="data rigth">
                            @Model.Date
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-row">

                <div class="form-box">
                    <label class="heder left">Начално летище</label>
                    <div>
                        <label class="data left">
                            @Model.DepartureAirport
                        </label>
                    </div>
                </div>
                <div class="form-box ">
                    <label class="heder rigth">Крайно летище</label>
                    <div>
                        <label class="data rigth">
                            @Model.DestinationAirports
                        </label>
                    </div>
                </div>
            </div>
            @if (Model.HasConnection == "yes")
            {
                <div class="form-row" id="connectionAirPorts" style="flex-flow: column;">
                    <div class="form-box">

                        @foreach (var li in Model.ConnectionAirports.Split("<-->".ToCharArray()))
                        {
                            <div class="form-box-connection">
                                <label class="data left"> li </label>
                            </div>
                        }
                    </div>
                </div>
            }

            <div class="form-row" style="justify-content:flex-start">
                <div class="form-box">
                    <label class="heder left">
                        Причина за закъснението
                    </label>
                    <div>
                        <label class="data left">
                            @Model.Reason
                        </label>
                    </div>
                </div>
            </div>
            @if (Model.Type == "закъснял-полет")
            {
                <div class="form-row" style="justify-content:flex-start">
                    <div class="form-box">
                        <label class="heder left">
                            Закъснение на полета
                        </label>
                        <div>
                            <label class="data left">
                                @(Model.Delay == "Да" ? "повече от 3 часа" : "по-малко от 3 часа")
                            </label>
                        </div>
                    </div>
                </div>
            }

            @if (Model.Type == "отменен-полет")
            {
                <div class="form-row" style="justify-content:flex-start">
                    <div class="form-box">
                        <label class="heder left">
                            Закъснение до крайната дестинация
                        </label>
                        <div>
                            <label class="data left">
                                @Model.HowMuch часа
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" style="justify-content:flex-start">
                    <div class="form-box">
                        <label class="heder left">
                            Уведомление  за отмяната на полета
                        </label>
                        <div>
                            <label class="data left">
                                @Model.Annonsment
                            </label>
                        </div>
                    </div>
                </div>
            }
            @if (Model.Type == "отказан-досъп-до-борд")
            {

                <div class="form-row" style="justify-content:flex-start">
                    <div class="form-box">
                        <label class="heder left">
                            Пристигane на чек-ин-а 30 минути преди излитането на самолета?
                        </label>
                        <div>
                            <label class="data left">
                                @Model.Arival
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-row" style="justify-content:flex-start">
                    <div class="form-box">
                        <label class="heder left">
                            Отказан достъп поради проблеми с документите или от съображения за сигурност
                        </label>
                        <div>
                            <label class="data left">
                                @Model.DocumentSecurity
                            </label>
                        </div>
                    </div>
                </div>

                    <div class="form-row" style="justify-content:flex-start">
                        <div class="form-box">
                            <label class="heder left">
                                Доброволно предостъпено на мястото на борда
                            </label>
                            <div>
                                <label class="data left">
                                    @Model.Willness
                                </label>
                            </div>
                        </div>
                    </div>

            }
            <div class="form-row" id="AirCompany" style="justify-content:flex-start">
                <div class="form-box">
                    <label class="heder left">Номер на резервация или код за потвърждение</label>
                    <div>
                        <label class="data left">
                            @Model.BookCode
                        </label>
                    </div>
                </div>
                <div class="form-box" style="justify-content:flex-start">
                    <label class="heder rigth">Въдушен превозвач</label>
                    <div>
                        <label class="data rigth">
                            @Model.AirCompany
                        </label>
                    </div>
                </div>

            </div>

            @if (Model.AdditionalInfo != "")
            {
                <div class="form-row" id="Info" style="flex-flow: column;">
                    <div class="form-box-width">
                        <label class="heder left">Допълнителна информация</label>
                        <p class="left">
                            @Model.AdditionalInfo
                        </p>
                    </div>
                </div>
            }
            <div class="form-hedar view">
                Копия на необходими документи
            </div>
            <div class="form-row">
                <div class="form-box">
                    @if (Model.BookConfirmationUrl != "")
                    {
                        <a href="@Model.BookConfirmationUrl" target="_blank">
                            <img width="300" src="@Model.BookConfirmationUrl" />
                        </a>
                    }
                </div>
                <div class="form-box">
                    @if (Model.BordCardUrl != "")
                    {
                        <a href="@Model.BordCardUrl" target= target="_blank">
                            <img width="300" src="@Model.BordCardUrl" />
                        </a>
                    }
                </div>
            </div>

            <div class="form-row">
                <div class="form-box">
                    <button class="submit" type="button" onclick="window.open('/attorney/@Model.ClaimId', '_blank')"><i class="icon"></i><span>Пълномощно</span></button>
                </div>
                <div class="form-box">
                    @*<button class="reset" type="reset" onclick="clearForm()"><i class="icon"></i><span>Изчисти</span></button>*@
                </div>
            </div>
            <div class="form-row">
                &nbsp;
            </div>
        </form>
    </div>

    <div class="rigth-content">

    </div>
</div>

